.wrapper{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.1fr 1fr 0.1fr 3fr 0.1fr;
  grid-template-areas:
  "hidden-nav"
  "nav"
  "cover-image"
  "content-grid"
  "foot";
}

.content-grid{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: white;
  grid-area: content-grid;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.05fr 0.3fr 0.3fr 0.3fr;
  grid-template-areas:
  "main"
  "samurai"
  "."
  "cybot";
}

.content-grid #main{
  grid-area:main;
}

#run-samurai{
  grid-area: samurai;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-areas:
  "sam-text"
  "."
  "sam-images";
}

#run-samurai .image-content{
  grid-area: sam-images;
}

#run-samurai .project-text{
  grid-area: sam-text;
}

#cybot{
  grid-area: cybot;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.1fr;
  grid-template-areas:
  "cybot-text"
  "."
  "cybot-images";
}

#cybot .image-content{
  grid-area: cybot-images;
}

#cybot .project-text{
  grid-area: cybot-text;
}

@media screen and (max-width: 1100px){
  .wrapper{
    grid-template-rows: 0.1fr 1fr 0.1fr 5fr 0.1fr;
  }

  .content-grid{
    grid-template-rows: 0.05fr 0.3fr 0.2fr 0.3fr;
  }
}
