.text-content{
    padding-top: 0;
    grid-area: text-content;
    color: black;
    transition: 3s;
  }

.ethics{
  grid-area: ethics;
}

.general{
  grid-area: general;
}

.engineering{
  grid-area: engineering
}

.content-grid{
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: white;
  grid-area: content-grid;
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". ethics . general . engineering .";
}



@media screen and (max-width: 1100px){
  .content-grid{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    grid-area: content-grid;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "ethics"
    "general"
    "engineering";
  }
}