*{
  font-family: Arial;
}
h1{
	text-align: left;
	padding-left: 10px;
	font-family: Arial;
  color:white;
	margin: 0;
	float: left;
}
h3,h4{
	text-align: center;
	font-family: Arial;
  color:lightslategrey;
}
h2{
	text-align: center;
  font-family: Arial;
  color: lightcoral;
}
body{
	background-color: aliceblue;
	padding: 0;
	margin: 0;
}
header{
	padding-top:10px;
	background-color: lightcoral;
	text-align: right;
	border-bottom: black 1px solid;
}

#content{
	text-align: center;
	padding-bottom: 30px;
}

header nav li{
	float: center;
	display: inline;
	text-transform: uppercase;
	padding: 0 20px 0 20px;
}

footer{
	text-align: center;
	background-color: lightcoral;
	padding-bottom: 50px;
	border-top: black 1px solid;
}

footer li{
	float: center;
	display: inline;
	padding: 0 20px 0 20px;
}

a:link{
	text-decoration: none;
	color:black
}
a:visited{
	text-decoration: none;
	color:black
}
a:hover{
	color:white;
}
a:active{
	color:lightslategrey;
}

