*{
  font-family: Arial;
}
h1{
	padding-left: 10px;
	font-family: Arial;
  color:white;
	margin: 0;
	float: left;
	font-size: 30px;
}
h3,h4{
	text-align: center;
	font-family: Arial
  color:lightslategrey;
}
h2{
	text-align: center;
  font-family: Arial;
  color: darkslategrey;
}
body{
	background-color: white;
	padding: 0;
	margin: 0;
}
header{
	padding-top:10px;
	background-color: slategrey;
	text-align: right;
	border-bottom: lightcoral 2px solid;
}

#content{
	text-align: center;
	margin: 50px auto 50px auto;
	width: 1000px;
}

#run{
	margin-bottom: 50px;
}

#cybot{
	margin-top: 50px;
}

#aboutcontent{
	text-align: center;
	padding-bottom: 30px;
	height: 765px;
}

#About{
	float:left;
	padding-left: 20px;
	margin: 70px auto 50px auto;
	width: 700px;
}

#Education{
	float: left;
	padding-left: 20px;
	margin: 50px auto 50px auto;
	width: 700px;
}

#aboutcontent img{
	margin: 100px auto 50px auto;
}

#expcontent{
	padding-bottom: 30px;
	height: 700px;
	text-align: center;
}

#exp{
	margin: 30px auto 30px auto;
	float: left;
	text-align: center;
	width: 700px;
}

#resume{
	padding-right: 40px;
	margin: 70px auto 100px auto;
}


header nav li{
	float: center;
	display: inline;
	text-transform: uppercase;
	padding: 0 20px 0 20px;
}

footer{
	text-align: center;
	background-color: slategrey;
	padding-bottom: 50px;
	border-top: lightcoral 2px solid;
}

footer li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

footer #copyright{
	float: right;
	padding-right: 20px;
	color: white;
}

a:link{
	text-decoration: none;
	color:white
}
a:visited{
	text-decoration: none;
	color:white;
}
a:hover{
	color:white;
}
a:active{
	color:white;
}

ul{
	list-style-type: none;
}

