.footer-bar{
  overflow: hidden;
  border-top: lightcoral 1px solid;
  box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
  background-color: lightslategray;
}

.footer-bar form{
  float:right;
  padding: 24px 22px;
}
