body{
  padding: 0;
  margin: 0;
  background-image: url("../img/cover.png");
}

.nav-bar{
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: lightcoral 1px solid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-bar a{
  display: block;
  float:left;
  text-decoration: none;
  padding: 24px 22px;
  color: black;
  font-size: 22px;
  text-align: center;
}

.nav-bar a:hover{
  background-color: lightcoral;
  color:white;
}

.nav-bar #logo{
  float:left;
  padding: 16px 22px;
}

.nav-bar .icon{
  display:none;
}

@media screen and (max-width: 600px){
  .nav-bar a{
    display: none;
  }

  .nav-bar a.icon{
    display:block;
    float:right;
  }
}

@media screen and (max-width: 600px){
  .nav-bar.responsive{
    background-color: white;
    position:relative;
  }
  .nav-bar.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive a{
    float:none;
    display:block;
    text-align:left;
  }

  .nav-bar.responsive #logo{
    float:center;
  }
}
